body {
    /* background properties */
    background-color: #fafafa;
    margin-left: 10%;
    margin-right: 10%;
    /* text properties  */
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    color: #111;
}

nav {
    margin: 5% auto 5% auto;
}

a {
    margin-left: 24px;
    color: #111;
}

.nav__left {
    margin-left: 0;
    font-family: "Roboto Mono", "Courier", monospace;
    font-weight: 700;
}

.nav__right {
    float: right;
}

h1 {
    margin: 0 0 16px 0;
    font-size: 4vw;
    font-family: "Roboto Mono", "Courier", monospace;
}

p {
    margin: 16px 0 16px 0;
    line-height: 1.8;
}

.instructions {
    width: 40%;
    padding-right: 64px;
    float: left;
}

.form {
    width: 40%;
    margin-top: 40px;
    display: inline-block;
    padding-left: 40px;
    border-left: 1px #111;
}

.legend {
    margin-bottom: 0;
}

input {
    width: 97%;
}

.message {
    height: 60px;
}

button {
    width: 90px;
    height: 40px;
    margin-right: 0;
    margin-top: 16px;
    float: right;
    color: #eee;
    background-color: #111;
    font-family: "Roboto Mono", "Courier", monospace;
}